.item {
    height: 28px;
    display: flex;
    border: 1px solid burlywood;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    align-items: center;
}

.image {
    margin-right: 10px;
    border-radius: 20px;
    margin-left: 10px;
    height: 30px;
}

.title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

a {
    text-decoration: none;
}